@import "tailwindcss";

@theme inline {
  /* Maps Next.js variables to Tailwind utility classes: font-lexend*/
  --font-lexend: var(--font-lexend);
}

@theme {
  --breakpoint-1200: 1200px;
}

/* Light mode (default) */
:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b;
    --foreground: #fafafa;
  }
}

html.dark {
  --background: #09090b;
  --foreground: #fafafa;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Apply your primary font globally using the CSS variable */
  font-family: var(--font-lexend), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* Hide scrollbars but keep functionality */
::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}

.sqysh-gradient {
  background: linear-gradient(
    90deg,
    #7c3aed,
    /* purple */ #22c55e,
    /* green */ #f97316,
    /* orange */ #2563eb,
    /* blue */ #7c3aed /* purple */
  );

  background-size: 300% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 4s linear infinite;
}

.anim-gradient-bg {
  background: linear-gradient(
    90deg,
    #7c3aed,
    /* purple */ #22c55e,
    /* green */ #f97316,
    /* orange */ #2563eb,
    /* blue */ #7c3aed /* purple */
  );
  background-size: 300% auto;
  animation: gradient 15s linear infinite;
}

.group:hover .anim-gradient-bg {
  animation-duration: 15s;
}

.group:hover .sqysh-gradient {
  animation-duration: 1.5s;
}
